// Normalisering.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Typsnitt.
$font-stack: "Arial Bold", sans-serif;

// Färger.
$primary-color: #85ab93;
$secondary-color: darken($primary-color, 30%);

// Rubriker.
@mixin h1 {
    padding-top: 1.5rem;
    text-align: center;
    color: white;
}

// Knappar.
@mixin button {
    width: 4rem;
    height: 1.5rem;
    margin: 1rem;
    background-color: darken($primary-color, 15%);
    border: 2px solid $secondary-color;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.65);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@mixin container {
    width: 300px;
    border: 5px solid $secondary-color;
    background-color: white;
    line-height: 1.6;
    padding: 1rem;
}