@use 'base' as *;

body {
    font: 100% $font-stack;
    background-color: $primary-color;
    font-weight: bold;
}

header {
    background-color: $secondary-color;
    height: 85px;

    h1 {
        @include h1;
    }
}

h2 {
    text-align: center;
}

.form-container {
    @include container;
    margin: 2rem auto;

    #coursesForm {
    
        #courseCode, #courseName, #courseSyllabus {
            width: 100%;
            height: 1.5rem;
        } 

        #A, #B, #C {
            cursor: pointer;
        }
    }
}

.button-container {
    display: flex;
    justify-content: space-evenly;

    #saveCourse, #resetForm {
        @include button;

        &:hover {
            background-color: $secondary-color;
        }
    }
}

#list {
    @include container;
    margin: 0.5rem auto;
    
    ul {
        list-style-type: none;
    }
}

.clear-button {
    text-align: center;

    #clear {
        @include button;
        width: 8rem;

        &:hover {
            background-color: $secondary-color;
        }
    }
}